.item {
  flex: 0 0 19.7%;
  transition: transform 300ms ease 100ms;
  margin: 0 2px;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    vertical-align: top;
    box-shadow: 10px 10px 41px -9px rgba(0,0,0,0.75);
    transition: 2s;
  }
}
