.myProfile {
  display:flex;
  align-self: center;
  flex-wrap: wrap;
  background-color: #191a1b;
  justify-content: center;
  padding: 8%;
}

.profile-left{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right:10px; 
}

.avatar-container{
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.profile-avatar{
  height: 400px;
  width: 100%;
  box-shadow:0px 21px 31px -18px rgba(0,0,0,0.75);
}

.profile-avatar img{
  width: 100%;
  height: 100%;
}

.button-edit-profile{
  align-self: center;
  margin-top: 20px;
  padding: 5px 10px;
  background-color:#ffea2f;
  border: none;
  border-radius: 3px;
}


.profile-right{
  flex-wrap: wrap;
  padding-left:10px; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}


.profile-dados {
  text-align: left;
  color:#ffea2f;
  font-weight: 800;
  font-size: 20px;
}

.profile-info {
  text-align: left;
  color:#c4c4c4;
  font-weight: 400;
  font-size: 15px;
}

.profile-film-info {
  text-align: left;
  color:#ffea2f;
  font-weight: 800;
  font-size: 15px;
  margin-bottom: -2px;
}

.about-movies-answers{
  text-align: left;
  color:#c4c4c4;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 10px;
}

.profile-explain {
  text-align: left;
  color:#191a1b;
  font-weight: 400;
  font-size: 10px;
}


.profile-headers {
  text-align: left;
  color:#ffea2f;
  font-weight: 400;
  font-size: 20px;
}

.profile-div{
  margin-top:20px;
  width: 40%;
  margin-bottom:20px;
  border:0.5px solid #c4c4c4;
  box-shadow:0px 21px 31px -18px rgba(0,0,0,0.75);
}

.about-movies{
  /* display:flex; */
  padding: 5%;
  background-color: #212121;
  border-radius: 3px;
  width: 80%;
}

.active-events{
  display:flex;
  flex-flow: column;
  color:#212121;
  padding: 2%;
  background-color: #c4c4c4;;
  border-radius: 3px;
  margin: 1% 0;
  box-shadow:0px 21px 31px -18px rgba(0,0,0,0.75);
  width: 50%;
}

.active-type{
  display: flex;
  align-self: center;
  text-align: left;
  color:#212121;
  font-weight: 400;
  font-size: 15px;
}


.active-title{
  display: flex;
  align-self: center;
  text-align: left;
  color:#212121;
  font-weight: 800;
  font-size: 25px;
}

.active-saiba-mais{
  display: flex;
  align-self: center;
  margin:0;
  padding: 5px 10px;
  background-color:#ffea2f;
  border: none;
  border-radius: 3px;
}