@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

html, body {
  min-height: 100vh;
  min-width: 100vw;
}

#app {
  min-height: 100vh;
  min-width: 100vw;
}

.pc-show {
  display: block;
}
.mobile-show {
  display: none;
}
@media (max-width: 768px) {
  .pc-show {
    display: none !important;
  }
  .mobile-show {
    display: block;
    border: 1px solid red;
  }
  .nav-hamburger {
    border: 1px solid red;
  }
}
