@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap");

@media (max-width: 768px) {
  .pc-show {
    display: none !important;
  }
  .mobile-show {
    display: block;
    border: 1px solid red;
  }
  .nav-hamburger {
    border: 1px solid red;
  }

  /* home */

  .featured-link {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    background-color: #c4c4c4;
    color: red;
    border-style: none;
    border-radius: 3px;
    text-decoration: none;
   }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .featured-link {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 40%;
    background-color: #c4c4c4;
    color: #191a1b;
    border-style: none;
    border-radius: 3px;
    text-decoration: none;
   }

   .feature-movie-size {
    height: 60vh;
  }

  .featured-info h1 {
    font-weight: 800;
    color: #f6f6f6;
    font-size: 35px;
    width:60%;
    text-shadow: 1px 5px 20px  #3b3b3b
   }
   
  }

