<<<<<<< HEAD
.form.container{
=======
.form.container {
>>>>>>> origin
  display: flex;
  justify-content: center;
  align-items: center;
}

<<<<<<< HEAD
.login-box{
  align-self: center;
  padding: 60px;
  background-color:#191a1b;
}

.back-home{
  position: relative;
  top:-25px;
  left:850px;

}

.login-title{
  font-weight: 800;
  color:#c4c4c4;
  font-size: 20px;
  margin-bottom: 30px;
  
}

.login-form{
=======
.login-box {
  align-self: center;
  padding: 60px;
  background-color: #191a1b;
}
​ .back-home {
  position: relative;
  top: -25px;
  left: 850px;
}
​ .login-title {
  font-weight: 800;
  color: #c4c4c4;
  font-size: 20px;
  margin-bottom: 30px;
}
​ .login-form {
>>>>>>> origin
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 3px;
  background-color: #212121;
}
<<<<<<< HEAD

.login-form input{
=======
​ .login-form input {
>>>>>>> origin
  background-color: #191a1b;
  margin-bottom: 20px;
  text-align: center;
  color: #c4c4c4;
  padding-left: 10px;
  font-size: 15px;
  height: 40px;
  width: 400px;
<<<<<<< HEAD
  border:none;
  border-radius: 3px;
}

.signup-google{
=======
  border: none;
  border-radius: 3px;
}
​ .signup-google {
>>>>>>> origin
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191a1b;
  margin-bottom: 20px;
  text-align: center;
  color: #c4c4c4;
  padding-left: 10px;
  font-size: 15px;
  height: 40px;
  width: 400px;
<<<<<<< HEAD
  border:none;
  border-radius: 3px;
  text-decoration: none;
}


.signup-google img{
  height: 25px;
  padding: 1%;
}

.signup-google a{
  color: #c4c4c4;
}

.signup-google a:hover{
  text-decoration: none;
  color: #ffea2f;
}


.login-div{
=======
  border: none;
  border-radius: 3px;
  text-decoration: none;
}
​ ​ .signup-google img {
  height: 25px;
  padding: 1%;
}
​ .signup-google a {
  color: #c4c4c4;
}
​ .signup-google a:hover {
  text-decoration: none;
  color: #ffea2f;
}
​ ​ .login-div {
>>>>>>> origin
  border: 0.5px solid #ffea2f;
  width: 400px;
  box-shadow: black;
  margin-bottom: 30px;
}
<<<<<<< HEAD

.login-cta{
  font-weight: 400;
  color:#c4c4c4;
  font-size: 15px;
  margin-bottom: 10px;
}

.signup-create{
=======
​ .login-cta {
  font-weight: 400;
  color: #c4c4c4;
  font-size: 15px;
  margin-bottom: 10px;
}
​ .signup-create {
>>>>>>> origin
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191a1b;
  margin-bottom: 20px;
  text-align: center;
  color: #c4c4c4;
  padding-left: 10px;
  font-size: 15px;
  height: 40px;
  width: 400px;
<<<<<<< HEAD
  border:none;
  border-radius: 3px;
}

.signup-create a{
  color: #c4c4c4;
}

.signup-create a:hover{
  text-decoration: none;
  color: #ffea2f;
}

.login-form:focus {
  outline: none;
}

.login-form input:-internal-autofill-selected {
  background-color: #212121;
}
=======
  border: none;
  border-radius: 3px;
}
​ .signup-create a {
  color: #c4c4c4;
}
​ .signup-create a:hover {
  text-decoration: none;
  color: #ffea2f;
}
​ .login-form:focus {
  outline: none;
}
​ .login-form input:-internal-autofill-selected {
  background-color: #212121;
}
>>>>>>> origin
