.form-container{
  background-color: #212121;
}

.signup-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.signup-box{
  display: flex;
  padding-left: 2%;
  justify-items: center;
  align-items: center;
  width: 100%;
  background-color:#212121;
}

.signup-screen {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #191A1B;
}

.signup-call{
  margin-left: 10%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.signup-call img{
  align-self: flex-start;
  padding-bottom: 15px;
}

.back-home-signup{
  display: flex;
  justify-self: flex-end;
}

.signup-title{
  align-items: center;
  font-weight: 800;
  color:#c4c4c4;
  font-size: 20px;
  margin-bottom: 30px;
  width: 30%px;
}

.signup-description{
  font-weight: 400;
  color:#c4c4c4;
  font-size: 15px;
  margin-bottom: 10px;
  width: 20%px;
}

.signup-form{
  display: flex;
  margin-left: 1%;
  flex-direction: column;
  align-items: center;
  padding: 4%;
  width: 100%;
  border-radius: 3px;
  background-color: #212121;
}

.signup-form input{
  background-color: #191a1b;
  margin-bottom: 20px;
  text-align: center;
  color: #c4c4c4;
  padding-left: 10px;
  font-size: 15px;
  height: 40px;
  width: 100%;
  border:none;
  border-radius: 3px;
}

.signup-google{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191a1b;
  margin-bottom: 20px;
  text-align: center;
  color: #c4c4c4;
  padding-left: 10px;
  font-size: 15px;
  height: 40px;
  width: 40%;
  border:none;
  border-radius: 3px;
  text-decoration: none;
}


.signup-google img{
  height: 25px;
  padding: 1%;
}

.signup-google a{
  color: #c4c4c4;
}

.signup-google a:hover{
  text-decoration: none;
  color: #ffea2f;
}


.signup-div{
  border: 0.5px solid #ffea2f;
  width: 40%;
  box-shadow: black;
  margin-bottom: 30px;
}

.signup-cta{
  font-weight: 400;
  color:#c4c4c4;
  font-size: 15px;
  margin-bottom: 10px;
}

.login-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191a1b;
  margin-bottom: 20px;
  text-align: center;
  color: #ffea2f;
  padding-left: 10px;
  font-size: 15px;
  height: 40px;
  width: 40%;
  border:none;
  border-radius: 3px;
}

.signup-create a{
  color: #c4c4c4;
}

.signup-create a:hover{
  text-decoration: none;
  color: #ffea2f;
}

.signup-form:focus {
  outline: none;
}

.signup-form input:-internal-autofill-selected {
  background-color: #212121;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
  .back-home-signup{
    display: none;
  }

  .signup-box{
    display: flex;
    flex-direction: column;
  }

  .signup-call{
    margin-top: 10%;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 0px 30px;
    align-items: center;
    text-align: center;
  }

  .signup-call img{
    display: none;
  }
  
  .login-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191a1b;
    margin-bottom: 20px;
    text-align: center;
    color: #ffea2f;
    padding-left: 10px;
    font-size: 15px;
    height: 40px;
    width: 100%;
    border:none;
    border-radius: 3px;
  }
  
}