
.destaques{
  text-align: center;
  background-color: #141414;
}

.home-div{
  margin-top:0;
  margin-bottom:0;
  border:0.5px solid #c4c4c4;
  box-shadow:0px 21px 31px -18px rgba(0,0,0,0.75);
}

.emCartaz{
  text-align: center;
  background-color: #212121;
  padding: 40px 20px;
}

.emBreve{
  text-align: center;
  background-color: #212121;
  padding: 40px 20px;
}

.home-destaques{
  padding-top: 30px;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  background-color: #141414;
}

.title-emCartaz{
  padding: 15px;
  color:#c4c4c4;
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  background-color: #212121;
}

.title-emBreve{
  padding: 15px;
  color:#c4c4c4;
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  background-color: #212121;
}

.slider__container{
  padding: 30px;
}