.bg-image-filter {
  height: 100px;
  width: 100px;
}
.featured-image {
  position: relative;
  background-blend-mode: multiply;
  height: auto;
  width: auto;
  top: 0;
  left: 0;
}
.featured-info {
  position: absolute;
  top: 420px;
  left: 50px;
  background: none;
}
h1 {
  color: #c4c4c4;
  font-size: 50px;
}
p {
  color: #c4c4c4;
  font-size: 15px;
}
.featured-link {
  display: flex;
  align-items: center;
  padding: 6px 20px;
  width: 120px;
  margin-top: 10px;
  background-color: #c4c4c4;
  color: #191a1b;
  border-style: none;
  border-radius: 3px;
  text-decoration: none;
}
