.featured-movie-bg::before{
  content: "";
  background-color: blue;
}

.featured-movie-bg {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom:1px solid #c4c4c4;
  background-repeat: no-repeat;
 }
 
 .featured-info {
  padding: 100px;
 }
 
 .featured-info h1 {
  font-weight: 800;
  color: #f6f6f6;
  font-size: 50px;
  text-shadow: 1px 5px 20px  #3b3b3b
 }

 p {
  color: #c4c4c4;
  font-size: 15px;
 }
 .featured-link {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 130px;
  background-color: #c4c4c4;
  color: #191a1b;
  border-style: none;
  border-radius: 3px;
  text-decoration: none;
 }
 .featured-link img{
  margin-right: 10px;
  box-shadow: none;
 }