.eventPage {
  display:flex;
  align-self: center;
  flex-wrap: wrap;
  background-color: #191a1b;
  justify-content: center;
  padding: 80px;
}

.eventPage-left{
  align-items: center;
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
}

.event-poster{
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 50%;
  box-shadow:0px 21px 31px -18px rgba(0,0,0,0.75);
}

.event-buttons{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 50px;
  background-color:#ffea2f;
  border: none;
  border-radius: 3px;
}

.event-buttons-exit{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 50px;
  border: 1px solid red;
  background-color:#191a1b;
  border-radius: 3px;
}

.event-poster img{
  width: 100%;
  height: 100%;
}

.eventPage-right{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1000px;
}

.event-activity{
  text-align: left;
  color:#ffea2f;
  font-weight: 800;
  font-size: 20px;
}

.event-title{
  text-align: left;
  color:#ffea2f;
  font-weight: 800;
  font-size: 40px;
}

.event-date{
  text-align: left;
  color:#ffea2f;
  font-weight: 400;
  font-size: 15px;
}

.event-div{
  margin-top:20px;
  width: 100%;
  margin-bottom:20px;
  border:0.5px solid #c4c4c4;
  box-shadow:0px 21px 31px -18px rgba(0,0,0,0.75);
  
}

.event-important-info{
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.event-todo-title{
  padding-top: 60px;
  font-weight: 800;
  font-size: 35px;
  padding-bottom: 1%;
  color:white;
}

.interation{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 20px;
  color:#212121;
  padding: 5%;
  background-color: #212121;;
  border-radius: 3px;
  border-left: 1px solid #ffea2f;
  box-shadow:0px 21px 31px -18px rgba(0,0,0,0.75);
}

.interation h4 {
  color:#ffea2f;
}

.event-maps-container{
  padding-top: 100px;
  font-weight: 800;
}

.event-maps-title{
  padding-top: 60px;
  font-weight: 800;
  font-size: 35px;
  padding-bottom: 1%;
  color:white;
}

.maps{
  margin-top: 30px;
  color:#212121;
  height: 200px;
  background-color: #c4c4c4;
  border-radius: 3px;
  overflow: hidden;
  box-shadow:0px 21px 31px -18px rgba(0,0,0,0.75);
}
.maps img{
  overflow: hidden;
  height: 230%;
}

.event-host{
  display: flex;
  padding: 10px;
}

.host-image{
  display: flex;
  width:30%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  filter: none;
  box-shadow: 0px 21px 24px 1px rgba(0,0,0,0.75)
}

.host-image img{
  width: 100%;
}

.event-host-title{
  padding-top: 60px;
  font-weight: 800;
  font-size: 35px;
  padding-bottom: 1%;
  color:white;
}

.host-info{
  color:#ffea2f;
}

.event-button-exit2{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 50px;
  border: 1px solid red;
  background-color:#191a1b;
  border-radius: 3px;
  text-decoration: none;
}

.event-button-exit2:hover{
  text-decoration: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .eventPage{
    padding: 40px;
  }

  .event-poster{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    box-shadow:0px 21px 31px -18px rgba(0,0,0,0.75);
  }

  .event-buttons-exit{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 48px;
    border: 1px solid red;
    background-color:#191a1b;
    border-radius: 3px;
  }

  .eventPage-right{
    margin-top: 30px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1000px;
  }

  .event-title{
    text-align: center;
    color:#ffea2f;
    font-weight: 800;
    font-size: 30px;
  }

  .event-activity{
    text-align: center;
    color:#ffea2f;
    font-weight: 800;
    font-size: 15px;
  }

  .event-date{
    text-align: center;
    color:#ffea2f;
    font-weight: 400;
    font-size: 15px;
  }

  .event-important-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }

  .event-todo-title{
    text-align: center;
    padding-top: 60px;
    font-weight: 800;
    font-size: 25px;
    padding-bottom: 1%;
    color:white;
  }

  .interation{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 20px;
    color:#212121;
    padding: 5%;
    background-color: #212121;;
    border-radius: 3px;
    border-left: 1px solid #ffea2f;
    box-shadow:0px 21px 31px -18px rgba(0,0,0,0.75);
  }

  .event-maps-container{
    padding-top: 10px;
    font-weight: 800;
  }

  .event-maps-title{
    text-align: center;
    padding-top: 30px;
    font-weight: 800;
    font-size: 25px;
    padding-bottom: 1%;
    color:white;
  }

  .event-host-title{

    text-align: center;
    padding-top: 60px;
    font-weight: 800;
    font-size: 25px;
    padding-bottom: 1%;
    color:white;

  }

  .event-host{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .host-info{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  }