.movie-page{
  background-color: #191a1b;
}

.breadcrumb{
  margin:0 !important;
  background-color: black !important;
  border-radius: 0 !important;
  border-bottom:1px solid #c4c4c4;
}

.breadcrumb-item a {
  margin-left: 31px;
  color: #c4c4c4 !important;
  text-decoration: none;
}
/* Breadcrumb ends */


.bg-movie-onmovie {
  border-bottom:1px solid #c4c4c4;
  height: 50%;
  opacity: 0.3;
}

/* div maior do movie */

.movie-details {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: -400px auto 0; 
  z-index: 100;
}

.movie-div{
  margin-top:0;
  margin-bottom:0;
  border:0.5px solid #c4c4c4;
  box-shadow:0px 21px 31px -18px rgba(0,0,0,0.75);
}

/* movie-poster */
.movie-poster{
  margin-left: 5%;
  margin-top: 1%;
  margin-right: 3%;
  display: flex;
  width:30%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  filter: none;
  box-shadow: 0px 21px 24px 1px rgba(0,0,0,0.75)
}

.movie-poster img{
  width: 100%;
}

.movie-info{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-wrap: wrap;
}

.otherInfo{
  margin-top: -4%;
  display: flex;
  justify-items: flex-start;
  align-items: flex-start;
  text-align: left;
}

.trailer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 150px;
  color: #191a1b;
  border-style: none;
  border-radius: 3px;
  text-decoration: none;
}

.play-icon{
  align-self: center;
  margin-right: 10px;
  margin-bottom: 2px;
  box-shadow: none !important;
}

.title-movie{
  margin-top:80px;
  font-weight: 800;
  width: 400px;
  font-size: 35px;
  color:white;
  
}

.title-genre{
  font-weight: 800;
  font-size: 25px;
}

.title-duration{
  font-weight: 800;
  font-size: 20px;
}


.movie-div{
  height: 1px;
  width: 600px;
  border:0.5px solid #c4c4c4;
  box-shadow:0px 21px 31px -18px rgba(0,0,0,0.75);
}

.sinopse h2{
  padding-top: 180px;
  font-weight: 800;
  font-size: 35px;
  padding-bottom: 1%;
  color:white;
}

.sinopse{
  width: 600px;
  padding-bottom: 2%;
}

.eventos{
  margin-top:30px;
  font-weight: 800;
  font-size: 35px;
  padding-bottom: 1%;
  color:white;
}

.create-event{
  align-self: flex-start;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 10px;
  background-color:#212121;
  border: none;
  border-radius: 3px;
}