.navBody {
  background-color: #191a1b !important;
}

/* Rectangle 3.1 */

.signup-btn {
  background: #f5f5f5 !important;
  border-radius: 3px;
}

/* Signup */
.signup {
  /* position: absolute; */
  /* width: 48px;
  height: 20px;
  left: calc(50% - 48px / 2 + 535px);
  top: 27px; */

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  /* line-height: 19px; */
  /* identical to box height */

  color: #191a1b !important;
}
